body {
    --bg-color: #ffffff;
    --text-color: #000000;
}

.theme-toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

.container {
    position: relative;
    /* max-width: 950px; */
    /* min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; */
}

.nav {
    position: relative;
}

#under-line {
    height: 4px;
    background-color: #dc3545;
    position: absolute;
    left: 0;
    bottom: -5px;
    padding: 0;
    transition: left 0.3s ease;
}

.weather-box div {
    border-radius: .25rem;
    overflow: hidden;
}

.todo-item-box {
    margin-right: 10px;
}

.btn-group {
    min-width: 115px;
}

.todo-item-time span {
    float: left;
    background-color: #e4e4e4;
    color: #868686;
    padding: 0 16px;
    height: 26px;
    font-size: 12px;
    line-height: 24px;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 5px;
}

.completed-done {
    text-decoration: line-through;
}
.completed-bg {
    background-color: #ddd;
}
.icon-size-16 {
    font-size: 16px;
    font-weight: 800;
}

/*중요도 아이콘*/
.priority-icon {
    font-size: 16px;
    transition: transform 1s;
}

.priority-Waiting {
    color: grey;
}

.priority-Proceeding {
    color: #198754;
}

.priority-Complete {
    color: #dc3545;
}

.animate-icon {
    /* animation: grow-shrink 1s infinite; */
    /* animation: blink 1s infinite; */
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        color: rgb(255, 217, 5);
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/*중요도 아이콘*/

.date-box {
    border: solid 1px #dddddd;
}
.date-box:active {
    border: 0;
}
.date-box:focus {
    /* color: var(--bs-body-color); */
    /* background-color: var(--bs-body-bg); */
    /* border-color: #86b7fe; */
    /* outline: 0; */
    box-shadow: none;
    border-color: #86b7fe;
}

.form-control:focus {
    /* color: var(--bs-body-color); */
    /* background-color: var(--bs-body-bg); */
    /* border-color: #86b7fe; */
    /* outline: 0; */
    box-shadow: none;
}