body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    /* 밑줄 제거 */
    color: inherit;
    /* 부모 요소의 색상을 상속받음 */
}


header {
    padding: 20px 0 50px 0;
}

svg {
    height: 50px;
    display: block;
    margin: 5px auto;
}

@media (max-width: 768px) {
    svg {
        height: 35px;
    }
}

.f26930 {
    color: #f26930;
}

.logo {
    fill: #f26930;
}


main {
    flex: 1;
}

footer {
    margin-top: auto;
}

.logo-text {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.main {
    font-size: 24px;
}

.tagline {
    font-size: 12px;
}


/*검색창*/
.search-container {
    padding: 10px 0;
}

.search-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-icon {
    background: none;
    color: #f26930;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.search-bar {
    display: none;
    margin-left: 10px;
}

.search-bar.active {
    display: flex;
}

.search-bar input {
    padding: 5px 10px;
    border: 1px solid #f26930;
    border-radius: 4px 0 0 4px;
}

.search-bar input:focus {
    outline: none;
    box-shadow: none;
}


.search-bar button {
    padding: 5px 10px;
    background-color: #f26930;
    color: white;
    border: 1px solid #f26930;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}


/*메뉴*/
.navbar .container {
    position: relative;
    padding-bottom: 4px;
    /* 컨테이너 내부 하단에 4px 공간 확보 */
    align-items: flex-end;
}

.navbar .container::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 12px;
    /* 왼쪽에 12px 패딩 적용 */
    right: 12px;
    /* 오른쪽에 12px 패딩 적용 */
    height: 4px;
    background: #f26930;
    /* 원하는 색상으로 변경 가능 */
    border-radius: 10px 10px 0 0;
    /* 상단 모서리만 둥글게 처리 */
}


.nav-link {
    color: #111111;
}

.nav-link:focus {
    color: #f26930;
    font-weight: bold;
}

.nav-link:hover {
    color: #111111;
    font-weight: bold;
}

.offcanvas {
    width: 85% !important;
}

.offcanvas.offcanvas-end {
    border-left: none;
}


@media (max-width: 1024px) {
    .top_history {
        display: none;
    }

    .navbar-menu-box {
        display: flex;
        justify-content: flex-end;
    }

    .navbar>.container {
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .offcanvas {
        width: 70% !important;
    }

    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }

    .navbar-expand-custom .navbar-toggler {
        position: absolute;
        right: 12px;
        border-color: #f26930;
    }

    .navbar-toggler i {
        font-size: 28px;
        color: #f26930;
    }

    .navbar-toggler:hover {
        background-color: rgba(242, 105, 48, 0.1);
        /* #f26930의 반투명 버전 */
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 0.25rem rgba(242, 105, 48, 0.25);
        /* #f26930의 반투명 버전으로 포커스 효과 */
    }

}

@media (min-width: 1025px) {
    .navbar-expand-custom {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-menu-box {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .offcanvas {
        position: static !important;
        visibility: visible !important;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: auto;
        display: flex !important;
        width: auto !important;
        height: auto;
        transform: none !important;
        background-color: transparent;
        border: 0;
        transition: none;
    }

    .offcanvas-header {
        display: none;
    }

    .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
    }

    body {
        padding-top: 0;
        /* 큰 화면에서는 패딩 제거 */
    }
}


.title_link {
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.title_link:hover {
    font-weight: bold;
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.card-img-container {
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img-row {
    display: block;
    overflow: hidden;
    height: 230px;
    overflow: hidden;
}

.card-img-row img {
    transition: all 0.3s ease;
    min-height: 100%;
}

.card-img-row img:hover {
    font-weight: bold;
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.card-img-container img {
    transition: all 0.3s ease;
}

.card-img-container img:hover {
    font-weight: bold;
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.pagination .page-item .page-link {
    color: #000;
    background-color: #fff;
    border-color: #ddd;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #f26930;
    border-color: #f26930;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #ddd;
}

.footer-top {
    position: relative;
    margin-bottom: 50px;
}

.footer-top ul {
    display: flex;
}

.footer-top ul li {
    list-style-type: none;
}

.footer-top ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.footer-li-l li {
    margin-right: 20px;
}

.footer-li-r {
    justify-content: flex-end;
}

.footer-li-r li {
    margin-left: 20px;
}

.footer-top::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 12px;
    right: 12px;
    height: 1px;
    background: #535353;
    border-radius: 10px 10px 0 0;

}


footer h5 {
    font-size: 18px;
    font-weight: bold;
}

footer ul li a {
    font-size: 14px;
    color: #979fa7;
}

.form-select {
    font-size: 14px !important;
    color: #979fa7 !important;
}

.social-icons {
    display: flex;
    justify-content: space-around;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: #555;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-icons .social-icon:hover {
    background-color: #f26930;
}

.social-icons .social-icon i {
    font-size: 15px;
    color: white;
}

.social-icons .social-icon:hover {
    transform: scale(1.2);
}

.list-inline {
    display: flex;
    align-items: center;
}

.top_history {
    background-color: #050505;
    padding: 8px 0;
    position: relative;
}

.top_history_content {
    margin-top: 20px;
}

.leftSide {
    padding: 1%;
}

.leftSide-Since {
    background-color: #343a40;
    border-radius: 0.5rem;
    color: white;
    padding: 5%;
    height: 100%;
}

.rightSide {
    display: flex;
    flex-wrap: wrap;
}

.rightSide-img {
    width: 50%;
    padding: 1%;
}

.rightSide-img img {
    width: 100%;
}

.showMoreBtn.open {
    transform: rotate(0deg);
    box-shadow: -2px 0 5px 0 #ddd;
}

.showMoreBtn {
    z-index: 100;
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: #555;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background-position: -64px -65px;
    transform: rotate(180deg);
    box-shadow: 2px 0px 5px 0 #ddd;
}

.showMoreBtn:hover {
    background-color: #f26930;
}

.showMoreBtn i {
    font-size: 22px;
    color: white;
}

.row-cols-auto {
    margin-top: 10px;
}

.img-fluid {
    height: 35px;
    padding: 5px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body .card-category {
    display: none;
}

.card-date {
    margin-bottom: 0px;
}

.card-date span {
    padding: 5px 15px;
    background-color: #f0f0f0;
    border-radius: 20px;
}

.card-bodyaa {
    display: flex;
    height: 100%;
    padding: 12px 24px 12px 0px;
    flex-direction: column;
    justify-content: space-between;
}

.card-bodyaa .card-date {
    display: flex;
    align-items: flex-end;
    height: 100%;

}